anchor=top-right
default-timeout=5000
layer=overlay
max-history=5
background-color={{surface}}
text-color={{on_surface}}
border-color={{surface_container}}
progress-color=over {{primary}}
border-radius=8
border-size=2
padding=10
